#navMain{
   background-color:  rgb(25, 226, 158);
  
}
#login{
    transition:all .8s;
   
}

#login:hover{
    transform: scale(1.1);
   
}
#Adminlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
    border-left: 40px solid rgb(25, 226, 158);
    border-right: 40px solid rgb(25, 226, 158);
    
}
.icod{
width: 12px;
margin: auto;
}
.HotJobs{
    background-color: rgb(25, 226, 158);
    text-align: center;
    text-transform:uppercase;
    color: #fff;
}
.jobcard{
    background-color: #d3d3d3;
}
.carousel{
  

    padding: 10px;
}
.form-label{
    
    color: rgb(0, 0, 0);
  
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icimg{
max-width: 40px;
margin: auto;
display: inline-block;
}
.detailD{
    display: none;
}
.nav-link{
    color: rgb(0, 0, 0) !important;
    margin-left: 20px;
   
    border-radius: 5px;}

.row>*{
    margin-top:3rem !important ;
}
.jobs{
    background-color: rgb(155, 139, 139);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-link{
    color: white;
    font-weight: 600;
    font-size: 20px;
    
}
.nav-link:hover{
    background-color: rgb(0, 0, 0);
    color: #fff !important;
}
.logogif{
    display: flex;
    align-items: center;
    justify-content: center
    
    ;
}
.bodyText{
    font-size: 18px;
}

#logoimg{
    position: relative;
    background-color: white;
    border-radius: 25px;
    padding: 0 !important;
    width:5rem;
    
}
@keyframes play {
   0%{
    top:2px
   }
   10%{
   top:5px
   }
   20%{
    top:8px
   }
   30%{
    bottom:10px
   }
   50%{
   bottom:2px
   }
   60%{
   bottom:5px
   }
   80%{
   bottom: 8px
   }
   100%{
   bottom:10px;
   }
}
.blurText{
    color: grey;
}
.container-fluid{
    max-width: 90%;
}
.navbar-toggler{
    color: #B667f1;
    font-weight: 600;
    font-size: 50px;
}
#plus{
    color: rgba(255, 255, 255, 0.605);
}
.gx-5 .col{
    background-color: #d3d3d3;
    margin-left: 30px;
    font-weight: bold;

}
.homeBody{
    background-color: rgb(252, 252, 252);
   
}

.card{
    border:1px solid #fff;
}
#login{
    margin-left: 50px;
    margin-right: 50px;
}
#logoInput{
    margin-left: 15px;
    margin-right: 15px;
}
.btn{
    background-color: rgb(124, 233, 196);
    color: rgb(0, 0, 0);
}
.form-control{
    width: min-content;
}
#cardCol{
    width: 20%;
    margin-left: 10%;
}

.HotJobs{
    font-weight: 600;
    font-size: 28px;
    margin-top: 5%;
    padding: 20px;
    color: #000;
 
}
.logcard{
   
    margin:auto !important;

}




#companyImage img{
    width: 8%;
    height: 6%;
    margin-left: 5%;
    border-radius: 35%;
}
#imgBox{
    width: 80%;
    margin-left: 10%;
}

.companyLogo{
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 28px;
}

.tips .col{
    margin-bottom: 2%;
}

/* footer */
.copyright{
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 28px;
    background-color: #B667f1;
    height: 50px;
}

/* Navbar and Off Canvas Section */

.btn_nav {
    font-size: 1.4rem;
  }
  
  @media (max-width: 360px) {
    .navbar-text {
      display: none;
    }
  }
  
  
  
  /* Navbar and Off Canvas Section End */
  
  .green1{
    color: #d47ae8;
    text-decoration: none;
  }
  .green2{
    color: #d47ae8;
    text-decoration: none;
  }
  .green1:hover{
    color: #f4beee;
    text-decoration: none;
  }
  .green2:hover{
    color: #f4beee;
    text-decoration: none;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
  }
.login{
    background: #ffffff !important;
    
}
.card-body{
    
    
    border-radius: 25px;
}
/* media querry  */
@media (max-width: 992px) { 
    #cardCol{
        width: 50%;
        margin-left: 20%;
    }
}

@media (max-width: 576px) { 
    #cardCol{
        width: 80%;
        margin-left: 15%;
    }
}