#registrationForm{
    width: 700px;
    margin-top: 5%;
}
#registrationForm h1{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.accordian-header{
    

    border-color: rgb(24,226,162) !important;
      box-shadow: 2px 2px 4px rgb(44,226,162) !important; 


}
.form-control:focus{
    border-color: rgb(24,226,162) !important;
      box-shadow: 2px 2px 4px rgb(44,226,162) !important; } 
.formy{
    background-color: #fff
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
#registrationForm input{
    width: 100%;
}

@media (max-width: 768px) { 
    #registrationForm input , label{
        width: 75%;
        margin-left: 12%;
        margin-right: 13%;
    }
    #registration .btn{
        margin-left: 12%;
    }
 }

